
body {
    height: 100%;
    overflow: hidden;
    background-color: #000020;
    margin: 0;
    background: url(/assets/background.jpg);
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.gameContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 320px;
    height: 480px;
    background: url('/assets/backgroundSpace.png');
    animation: scroll-background 10s linear infinite;
    box-shadow: 0 2px 15px #9068d8;
    position: relative;
    z-index: -1;   
}

.gameStart {
    width: 320px;
    height: 480px;
    background: url('/assets/IntroSpaceInvaders.gif');
    position: absolute;
    z-index: 1;   
}

.gameOver {
    width: 320px;
    height: 480px;
    background: url('/assets/GameOverSpaceInvaders.gif');
    position: absolute;
    z-index: 1;   
}



.youWin {
    width: 320px;
    height: 480px;
    background: url(/assets/YouWinSpaceInvaders.gif);
    position: absolute;
    z-index: 1;   
}


@keyframes scroll-background{
    from {
    background-position-x: 0px;
    }
    to {
    background-position-y: 480px;
    }
  }

header {
    font-family: 'Dela Gothic One';
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    text-align: center;
    color: white;
    background-color: black;
    width: 360px;
    margin: 0 auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

footer {
    font-family: 'Dela Gothic One';
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    background-color: black;
    color: white;
    width: 360px;
    margin: 0 auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#stormtrooper {
    background: url('/assets/stormtrooper.png');
    background-size: contain;
    width: 36px;
    height: 50px;
    position: absolute;
    z-index: 1;
    transition: all 0.1s ease;

}

.bullet {
    background: url('/assets/bullet.png');
    width: 2px;
    height: 25px;
    position: absolute;
    z-index: 1;
    transition: all 0.1s ease;

}

#milleniumFalcon {
    background: url('/assets/milleniumFalcon.png');
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    transition: all 0.1s ease;

}
