body {
    height: 100%;
    overflow: hidden;
    background-color: #000020;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.gameContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 320px;
    height: 480px;
    background: url('/assets/backgroundSpace.png');
    animation: scroll-background 10s linear infinite;
    box-shadow: 0 2px 15px #9068d8;
    position: relative;
    z-index: -1;   
}

.gameStart {
    width: 320px;
    height: 480px;
    background: url('/assets/IntroSpaceInvaders.gif');
    position: absolute;
    z-index: 1;   
}

.gameOver {
    opacity: 1;
    width: 320px;
    height: 480px;
    background-color: #be3b3b;
    box-shadow: 0 2px 15px #9068d8;
    position: absolute;
    z-index: 1;   
}

.gameOverText {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0 50px yellow;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 450px;
    font-size: 30px;
    width: 300px;
    text-align: center;
    -webkit-text-stroke: medium;
}

.youWin {
    opacity: 1;
    width: 320px;
    height: 480px;
    background-color: #beb53b;
    box-shadow: 0 2px 15px #9068d8;
    position: absolute;
    z-index: 1;   
}

.youWinText {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0 50px yellow;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 450px;
    font-size: 30px;
    width: 300px;
    text-align: center;
    -webkit-text-stroke: medium;
}

@keyframes scroll-background{
    from {
    background-position-x: 0px;
    }
    to {
    background-position-y: 480px;
    }
  }

header {
    font-family: 'Dela Gothic One';
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    text-align: center;
    color: white;
    background-color: black;
}

footer {
    font-family: 'Dela Gothic One';
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    background-color: black;
    color: white;
}

#stormtrooper {
    background: url('/assets/stormtrooper.png');
    background-size: contain;
    width: 36px;
    height: 50px;
    position: absolute;
    z-index: 1;
    transition: all 0.1s ease;

}

.bullet {
    background: url('/assets/bullet.png');
    width: 2px;
    height: 25px;
    position: absolute;
    z-index: 1;
    transition: all 0.1s ease;

}

#milleniumFalcon {
    background: url('/assets/milleniumFalcon.png');
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    transition: all 0.1s ease;

}
